html,
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

video {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    margin-left: 81.5vh;
    object-fit: cover;
    z-index: -20;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#menu {
    display: none;
}

.menu-container {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-item {
    text-align: center;
    font-size: 17px;
}

#key {
    font-weight: 400;
}

#value {
    font-weight: 600;
}

#buttons {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    transform: translate(-100%, -100%);
}

#buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 7px 4px 7px;
}

.button-text {
    width: 33.3%;
}

#exposure {
    text-align: center;
}
